body {
    padding-bottom: 500px;
    background-color: black;
    color: white;
}
 
div {
    margin-bottom: 15px;
 
}
 
div input, div label {
    display: block;
}

/* Input Radio */

.radio label, .radio input, .radio span{
    display: inline-block;
}